
body{
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.nav-container{
    width: 100%;
    height: 10vh;
    /* padding: 0px 15px; */
    display: flex;
    align-items: center;
    background-color: blueviolet;
    margin-bottom: 20px;
}
.nav-container a{
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    transition: 0.3s;
}
.nav-container a.active{
    background-color: black;
}
.container{
    padding: 15px;
}
.post{
    background-color: #f5f5f5;
    list-style-type: none;
    padding: 10px;
}
.post li{
    padding: 10px;
}
.post li:hover{
    background-color: #e6e5e5;
}
.page-btn{
    padding: 5px 10px;
    margin-right: 10px;
}

.table{
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding: 0px 10px;
    border: 1px solid #ddd;
}
.table p{
    text-align: start;
    padding: 10px;
    display: flex;
    width: 50%;
}
.table div{
    display: grid;
    gap: 10px;
}